<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARRAY EXERCISE

In [ ]:
ep=[2200,2350,2600,2130,2190]
print( "In Feb, that dollars you spent extra compare to January is",ep[1]-ep[0])

#Find out your total expense in first quarter (first three months) of the year.

In Feb, that dollars you spent extra compare to January is 150

In [ ]:
print("total expense in first quarter (first three months) of the year is",ep[0]+ep[1]+ep[2])

total expense in first quarter (first three months) of the year is 7150

In [ ]:
 #Find out if you spent exactly 2000 dollars in any month
for i in ep:
  if i==2000:
    print(i)
  else:
    print(i,"no month match to 2000")

2200 no month match to 2000
2350 no month match to 2000
2600 no month match to 2000
2130 no month match to 2000
2190 no month match to 2000

In [ ]:
exp=[2200,2350,2600,2130,2190]

print("Did I spent 2000$ in any month? ", 2000 in exp)

Did I spent 2000$ in any month?  False

In [ ]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

exp=[2200,2350,2600,2130,2190]
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
#You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp=[2200, 2350, 2600, 2130, 2190, 1980]
exp[3]=exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]

2.heros=['spider man','thor','hulk','iron man','captain america']

In [2]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

5

In [5]:
heros=['spider man','thor','hulk','iron man','captain america']
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [8]:
heros=['spider man','thor','hulk','iron man','captain america', 'black panther']
heros.remove("black panther")
heros.insert(3,"black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [12]:
heros=['spider man','thor','hulk','iron man','captain america', 'black panther']
heros[1:3]=["doctor strange"]
print(heros)

['spider man', 'doctor strange', 'iron man', 'captain america', 'black panther']

In [14]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

#3.Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [16]:
a=[]
max_number=int(input("Enter the max number:"))
for i in range(1,max_number):
  if i%2!=0:
    a.append(i)

print(a)

Enter the max number:10
[1, 3, 5, 7, 9]

In [17]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 10
Odd numbers:  [1, 3, 5, 7, 9]