<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARRAY EXERCISE

In [3]:
ep=[2200,2350,2600,2130,2190]
print( "In Feb, that dollars you spent extra compare to January is",ep[1]-ep[0])

#Find out your total expense in first quarter (first three months) of the year.

In Feb, that dollars you spent extra compare to January is 150

In [5]:
print("total expense in first quarter (first three months) of the year is",ep[0]+ep[1]+ep[2])

total expense in first quarter (first three months) of the year is 7150

In [10]:
 #Find out if you spent exactly 2000 dollars in any month
for i in ep:
  if i==2000:
    print(i)
  else:
    print(i,"no month match to 2000")

2200 no month match to 2000
2350 no month match to 2000
2600 no month match to 2000
2130 no month match to 2000
2190 no month match to 2000

In [13]:
exp=[2200,2350,2600,2130,2190]

print("Did I spent 2000$ in any month? ", 2000 in exp)

Did I spent 2000$ in any month?  False

In [16]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

exp=[2200,2350,2600,2130,2190]
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [21]:
#You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp=[2200, 2350, 2600, 2130, 2190, 1980]
exp[3]=exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]