<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/day1_of_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_name="luffy"
last_name="jun"

print("my first name is {} and last name is {}".format(first_name,last_name))

my first name is luffy and last name is jun

In [ ]:
a=int(input("Enter a:"))
print(a)

Enter a:10
10

In [ ]:
name=input("name:")
age=input("age:")
print("My name is:",name)
print("My age is:",age)

name:luffy
age:10
My name is: luffy
My age is: 10

In [ ]:
a=int(input())
b=int(input())
c=int(input())
mul=a*b*c
add=a+b+c
div=mul/add
print(div)

2
3
4
2.6666666666666665

In [ ]:
name=input()
score=int(input())
department=input()

print("My name is :",name)
print("my score is :",score/10)
print("my department is :" ,department)

aravind
78
cse
My name is : aravind
my score is : 7.8
my department is : cse

IF ELSE AND BOOLEAN OPERATERS

In [ ]:
if (True):
  print("yes")
else:
  print("no")

yes

In [ ]:
meghna=input("died or alive:")
if (meghna=="died"):
  print("surya meets priya")
else:
  print("surya weds meghna")

died or alive:died
surya meets priya

In [ ]:
mark=int(input())
if (mark>35):
  print("pass")
else:
  print("fail")

32
fail

In [ ]:
income=int(input())
if income>7000:
  print("sc is avaible")
else:
  print("not eligible")

65000
sc is avaible

In [ ]:
number=int(input())
if number%5==0 and number%3==0:
  print("its divisilbe by both")
else:
  print("not divisible")

15
its divisilbe by both

In [ ]:
number=int(input())
if number%2==0:
  print("even")
else:
  print("odd")

66
even

In [ ]:
score=int(input("Enter the score:"))
if score<=100:
  if score<35:
    print("poor student")
  elif score>35 and score<70:
    print("Average student")
  elif score>70:
    print("good student")
else:
  print("WARNING!!!  score below 100")

Enter the score:101
WARNING!!!  score below 100

In [ ]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))

move=input("Choose add,sub,mul,div:")
if move=="add":
  print("result:",a+b)
if move=="sub":
  print("result:",a-b)
if move=="mul":
  print("result:",a*b)
if move=="div":
  print("result:",a/b)

Enter a:4
Enter b:5
Choose add,sub,mul,div:sub
result: -1

In [ ]:
score=int(input("Enter percenatge:"))
if score>70:
  name=input("enter name:")
  dep=input("enter deapertment:")
  location=input("enter loaction:")
  print("youre eligilble")
elif (score>100 or score<70 or score<0):
  print("not eligilbe")

Enter percenatge:72
enter name:hari
enter deapertment:ai
enter loaction:blr
youre eligilble

In [ ]:
salary=int(input("Enter salary:"))
age=int(input("Enter age:"))

if salary>=20000 or age<=25:
  required_loan_amount=int(input("Enter required loan amount:"))
  if required_loan_amount<=50000:
    print("you are eligible for loan")
  elif required_loan_amount>50000:
    print("max is 50000")
else:
  print("you are not eligible for loan")

Enter salary:3000
Enter age:26
you are not eligible for loan

In [ ]:
mat=int(input("Enter maths marks:"))
eng=int(input("Enter english marks:"))
sci=int(input("Enter science marks:"))
soc=int(input("Enter social marks:"))
tam=int(input("Enter tamil marks:"))

result=mat+eng+sci+soc+tam

avg=result/5

if avg<35:
  print("avgerage is lesser",avg)
  print("extra class needed")
else:
  print("no need")

Enter maths marks:43
Enter english marks:22
Enter science marks:23
Enter social marks:25
Enter tamil marks:29
mark is lesser 28.4
extra class needed

LOOPS

In [1]:
for i in "apple":
  print(i)

a
p
p
l
e

In [4]:
for i in range(1,5):
  print(i)

1
2
3
4

In [16]:
for i in range(1,10+1):
    print(i,"x2=",i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [17]:
a=int(input())
b=int(input())
for i in range(a,b):
  print(i)

3
10
3
4
5
6
7
8
9

In [22]:
for i in range(1,10+1):
  if i%2==0:
    print("even",i)

even 2
even 4
even 6
even 8
even 10

In [26]:
count=0
for  i in range(1,10+1):

  if i%2!=0:
    count=count+1
    print(i)

print(count)

1
3
5
7
9
5

In [29]:
evencount=0
oddcount=0
for i in range(1,10+1):
  if i%2==0:
    evencount=evencount+1
  else:
    oddcount=oddcount+1

print(evencount)
print(oddcount)

5
5

In [35]:
count=0

for i in range(1,101):
  if i%3==0 and i%5==0:
    count=count+1
    print(i)

print(count)

15
30
45
60
75
90
6

In [41]:
sum=0
for i in range(1,6):
  sum=sum+i

print(sum)

15

In [52]:
#hmn=int(input("Enter hmns:"))
a=[]
print("Enter 10 numbers")
for i in range(5):
  num=int(input("Enter num "+ str( i)))
  a.append(num)

print(a)

sum=0
for i in a:
  sum=sum+i
print(sum)

Enter 10 numbers
Enter num 010
Enter num 120
Enter num 230
Enter num 340
Enter num 450
[10, 20, 30, 40, 50]
150