<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/day1_of_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
first_name="luffy"
last_name="jun"

print("my first name is {} and last name is {}".format(first_name,last_name))

my first name is luffy and last name is jun

In [2]:
a=int(input("Enter a:"))
print(a)

Enter a:10
10

In [3]:
name=input("name:")
age=input("age:")
print("My name is:",name)
print("My age is:",age)

name:luffy
age:10
My name is: luffy
My age is: 10

In [4]:
a=int(input())
b=int(input())
c=int(input())
mul=a*b*c
add=a+b+c
div=mul/add
print(div)

2
3
4
2.6666666666666665

In [7]:
name=input()
score=int(input())
department=input()

print("My name is :",name)
print("my score is :",score/10)
print("my department is :" ,department)

aravind
78
cse
My name is : aravind
my score is : 7.8
my department is : cse

IF ELSE AND BOOLEAN OPERATERS

In [8]:
if (True):
  print("yes")
else:
  print("no")

yes

In [11]:
meghna=input("died or alive:")
if (meghna=="died"):
  print("surya meets priya")
else:
  print("surya weds meghna")

died or alive:died
surya meets priya

In [12]:
mark=int(input())
if (mark>35):
  print("pass")
else:
  print("fail")

32
fail

In [14]:
income=int(input())
if income>7000:
  print("sc is avaible")
else:
  print("not eligible")

65000
sc is avaible

In [17]:
number=int(input())
if number%5==0 and number%3==0:
  print("its divisilbe by both")
else:
  print("not divisible")

15
its divisilbe by both

In [18]:
number=int(input())
if number%2==0:
  print("even")
else:
  print("odd")

66
even

In [25]:
score=int(input("Enter the score:"))
if score<=100:
  if score<35:
    print("poor student")
  elif score>35 and score<70:
    print("Average student")
  elif score>70:
    print("good student")
else:
  print("WARNING!!!  score below 100")

Enter the score:101
WARNING!!!  score below 100

In [31]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))

move=input("Choose add,sub,mul,div:")
if move=="add":
  print("result:",a+b)
if move=="sub":
  print("result:",a-b)
if move=="mul":
  print("result:",a*b)
if move=="div":
  print("result:",a/b)

Enter a:4
Enter b:5
Choose add,sub,mul,div:sub
result: -1

In [34]:
score=int(input("Enter percenatge:"))
if score>70:
  name=input("enter name:")
  dep=input("enter deapertment:")
  location=input("enter loaction:")
  print("youre eligilble")
elif (score>100 or score<70 or score<0):
  print("not eligilbe")

Enter percenatge:72
enter name:hari
enter deapertment:ai
enter loaction:blr
youre eligilble

In [38]:
salary=int(input("Enter salary:"))
age=int(input("Enter age:"))

if salary>=20000 or age<=25:
  required_loan_amount=int(input("Enter required loan amount:"))
  if required_loan_amount<=50000:
    print("you are eligible for loan")
  elif required_loan_amount>50000:
    print("max is 50000")
else:
  print("you are not eligible for loan")

Enter salary:3000
Enter age:26
you are not eligible for loan

In [47]:
mat=int(input("Enter maths marks:"))
eng=int(input("Enter english marks:"))
sci=int(input("Enter science marks:"))
soc=int(input("Enter social marks:"))
tam=int(input("Enter tamil marks:"))

result=mat+eng+sci+soc+tam

avg=result/5

if avg<35:
  print("avgerage is lesser",avg)
  print("extra class needed")
else:
  print("no need")

Enter maths marks:43
Enter english marks:22
Enter science marks:23
Enter social marks:25
Enter tamil marks:29
mark is lesser 28.4
extra class needed