<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/Hash_table_execise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
arr=[]

with open("nyc_weather.csv","r") as f:
  for line in f:
    tokens=line.split(",")
    try:
      temperature=int(tokens[1])
      arr.append(temperature)
    except:
      print("Invalid")

Invalid

In [39]:
arr

[27, 31, 23, 34, 37, 38, 29, 30, 35, 30]

In [45]:
sum(arr[0:7])/7

31.285714285714285

In [46]:
max(arr[0:10])

38

2.

In [53]:
weather_dict={}

with open ("nyc_weather.csv","r") as f:
  for line in f:
    tokens=line.split(",")
    day=tokens[0]
    try:
      temperature=int(tokens[1])
      weather_dict[day]=temperature
    except:
      print("Invalid temperature")

Invalid temperature

In [56]:
weather_dict

{'Jan 1': 27,
 'Jan 2': 31,
 'Jan 3': 23,
 'Jan 4': 34,
 'Jan 5': 37,
 'Jan 6': 38,
 'Jan 7': 29,
 'Jan 8': 30,
 'Jan 9': 35,
 'Jan 10': 30}

In [58]:
weather_dict['Jan 9']

35

In [59]:
weather_dict["Jan 4"]

34