<a href="https://colab.research.google.com/github/SUDHAN1022/Python-for-data-science/blob/main/python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#AMSTRONG NUMBER

for i in range(1001):
  num=i
  result=0
  n=len(str(i))
  while(i!=0):
    digit=i%10
    result=result+digit**n
    i=i//10
  if num==result:
    print(num)

0
1
2
3
4
5
6
7
8
9
153
370
371
407

In [15]:
n=int(input("Enter the number of rows:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter the number of rows:5
1
12
123
1234
12345

In [23]:
n=int(input("Enter number of rows:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print()

Enter number of rows:5
1
22
333
4444
55555

In [28]:
n=int(input("Enter number of rows:"))
for row in range(n):
  for col in range(n):
    if col==0 or row==(n-1) or row==col:
      print("*",end="")
    else:
      print(end=" ")
  print()

Enter number of rows:5
*
**
* *
*  *
*****

In [30]:
import math
n=int(input("Enter the number:"))
result=math.factorial(n)
print(result)

Enter the number:5
120

In [32]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

n=int(input("Enter the number:"))
result=fact(n)
print(result)

Enter the number:5
120

In [33]:
n=int(input("Enter the number:"))
result=1
for i in range(n,0,-1):
  result=result*i
print(result)

Enter the number:5
120

In [35]:
#fibonacci series

n=int(input("Enter n:"))
first=0
second=1
for i in range(n):
  print(first)
  temp=first
  first=second
  second=temp+second

Enter n:10
0
1
1
2
3
5
8
13
21
34

In [40]:
lower=int(input("Enter lower:"))
upper=int(input("Enter upperr:"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

Enter lower:5
Enter upperr:10
5
7

In [42]:
num=int(input("Enter the num:"))
if num>1:
  for i in range(2,num):
    if num%i==0:
      print("its not a prime number",num)
      break
  else:
    print("its a prime number")

Enter the num:5
its a prime number

In [50]:
num=int(input("Enter the num:"))
result=0
for i in range(1,num):
  if num%i==0:
    result=result+i
if result==num:
  print("its perfect num")
else:
  print("its not")

Enter the num:5
its not

In [52]:
a=10
b=20
temp=a
a=b
b=temp
print(a,b)

20 10

In [53]:
a=int(input("enter a:"))
b=int(input("enter b:"))
a=a+b
b=a-b
a=a-b
print("value of a:",a,"value of b:",b)

enter a:10
enter b:5
value of a: 5 value of b: 10

In [60]:
def reversed_string(string):
  reversed_string=""
  for i in string:
    reversed_string=i+reversed_string
  print("Reverse string is :",reversed_string)

string=input("Enter string:")
print("String is:",string)
reversed_string(string)

Enter string:iraka
String is: iraka
Reverse string is : akari